.navbar-brand{
    color:#4278f5 ;
    font-weight: 600;
    position:relative;
    font-size: 25px !important;
}
.bg-lightblue{
    background-color: #ccdbfd;
}

.login-button{
    background-color:#acbea9;
    color:black;
    font-size: 14px;
    padding:8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #4278f5;
}

.navbar-toggler{
    border: none !important;
    font-size: 1.25rem;
    
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none !important;
}



.nav-link {
    color: black !important;
    font-weight: 500 !important;
    position: relative !important;
    
}

.startedbtn{
    background-color: #338fc2;
    color:black;
    font-size: 15px;
    padding:8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.col-md-4 {
    margin-bottom: 0;
}

.nav-link:hover {
    color: grey !important;
}


.nav-link::before {
    content: ""; 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: black;
    visibility: hidden;
    transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.nav-link:hover::before {
    width: 100%;
    visibility: visible; 
}

