.navbar-brand{
    color:#4278f5 ;
    font-weight: 600;
    position:relative;
    font-size: 25px !important;
}
.bg-lightblue{
    background-color: #ccdbfd;
}

.login-button{
    background-color:#acbea9;
    color:black;
    font-size: 14px;
    padding:8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #4278f5;
}

.navbar-toggler{
    border: none !important;
    font-size: 1.25rem;
    
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none !important;
}



.nav-link {
    color: black !important;
    font-weight: 500 !important;
    position: relative !important;
    
}

.startedbtn{
    background-color: #338fc2;
    color:black;
    font-size: 15px;
    padding:8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.col-md-4 {
    margin-bottom: 0;
}

.nav-link:hover {
    color: grey !important;
}


.nav-link::before {
    content: ""; 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: black;
    visibility: hidden;
    transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.nav-link:hover::before {
    width: 100%;
    visibility: visible; 
}


.card {
    margin-bottom: 10px;
    margin-bottom: 2rem;
    font-size: 1rem;
} 

.card-body > h5{
    font-size: 2rem;
}

.card-body > .btn {
    width: 100%;
    height: 20%;
    font-size: 80%;
    font-weight: 600;
    padding-bottom: 5%;
}

.card > img {
    height:50%;
}

.responsive {
    width: 100%;
    height: auto;
  }


#quiz-topic-list a {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #dee2e6; 
    padding: 8px;
}
#quiz-topic-info{
    font-size: 20px;
    text-align: center;
    justify-content:center ;
}
#quiz-topic-list a:first-child{
    border-top: 1px solid #dee2e6; 
}
#quiz-topic-list a:hover {
    background-color: #ccdbfd; 
}
.display-4 {
    font-size: 4.5rem;
    font-weight: 500;
}

.material-icons:nth-child(1) {
    padding-left:5%;
}

.material-icons:nth-child(4) {
    padding-right:5%;
}

.p-5 {
    margin-bottom: 2rem;
}

#timeline {
    margin-top: 20px;
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#postInput {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

#postForm button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#postForm button:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 980px){

    .row:nth-child(4){
        margin: 0 100px 100px 100px;
    }

    .p-5 {
        padding-bottom: 1rem !important;
    }

    
    .card {
        margin-bottom: 10px;
        width: 200% !important;
        margin-bottom: 2rem;
        font-size: 2rem;
    } 

    .card-body > h5{
        font-size: 3rem;
    }

    .card-body > .btn {
        width: 100%;
        height: 20%;
        font-size: 80%;
        font-weight: 600;
        padding-bottom: 5%;
    }
}
